<header>
  <h1 class="text-6xl font-extrabold">Todos</h1>
</header>
<main class="flex items-center min-h-screen flex-col">
  <h1 class="text-5xl font-bold font-serif mb-5">Add a to do</h1>
  <form (ngSubmit)="PushtoArray()">
    <input
      class="p-3 bg-slate-500 rounded-lg mx-5"
      type="text"
      placeholder="Add a to do"
      (keyup.enter)="PushtoArray()"
      [(ngModel)]="inputValue"
      name="todoInput"
    />
    <button
      type="submit"
      class="p-3 rounded-lg mx-5 bg-blue-500"
    >
      Add
    </button>
  </form>
  <div>
    <h3 class="text-4xl font-semibold mt-5" *ngIf="todos.length>0">Your todos:</h3>
    <ul class="list-disc pl-5">
      <li *ngFor="let todo of todos" class="mb-2 flex items-center">
        <p class="w-52 bg-black text-white text-2xl font-sans p-3 flex justify-center rounded-md m-2">{{ todo.name }}</p>
        
        <button
          class="ml-4 p-2 bg-red-500 text-white rounded"
          (click)="deleteItem(todo.id)"
        >
          Delete
        </button>
      </li>
    </ul>
  </div>
</main>


